<p>
The calendar is subject to change during the course of the semester.
</p>
<ul>
{% for date in site.data.dates %}
    <li> <b>{{ date.date }}</b> 
    <br> Assigned:
    {% for item in site.data.calendar %}
	{% if date.date == item.assigned %}
	     {% if item.module <= site.data.display.module %} 
		&nbsp; <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
	     {% else %} 
		&nbsp; {{ item.title }}
	     {% endif %} 
	{% endif %}
    {% endfor %}
    {% if date.msg %}
	&nbsp; <b>{{ date.msg }} </b>
    {% endif %}
    <br> Due: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% for item in site.data.calendar %}
	{% if date.date == item.due %}
	     {% if item.module <= site.data.display.module %} 
		&nbsp; <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
	     {% else %} 
		&nbsp; {{ item.title }}
	     {% endif %} 
	{% endif %}
    {% endfor %}
{% endfor %}
</ul>
