<head>
      <style>
      aside {
         color: #36CFFF;
      }
      </style>
<link rel="stylesheet" href="https://rogerchamberlain.github.io/assets/css/style.css?v=7f0d38783d547a095a56f94be94fe89a670f4166">
</head>
<nav>
	<a href="{{ "/" | relative_url }}">Home</a>
	&nbsp;&nbsp;&nbsp; <a href="{{ "/#calendar" | relative_url }}">Calendar</a>
	&nbsp;&nbsp;&nbsp; <a href="{{ "/#reference" | relative_url }}">References</a>
	&nbsp;&nbsp;&nbsp; <a href="{{ "/ta-hours.html" | relative_url }}">TA Hours</a>
	&nbsp;&nbsp;&nbsp; <a href="{{ "/files/cc_v0_07.pdf" | relative_url }}" target="_blank">Textbook</a>
</nav>


